---
openapi: 3.0.3
info:
  title: Sure API
  version: v1
  description: OpenAPI documentation for the Sure API.
servers:
- url: https://app.sure.am
  description: Production
- url: http://localhost:3000
  description: Local development
components:
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      name: X-Api-Key
      in: header
      description: API key for authentication. Generate one from your account settings.
  schemas:
    Pagination:
      type: object
      required:
      - page
      - per_page
      - total_count
      - total_pages
      properties:
        page:
          type: integer
          minimum: 1
        per_page:
          type: integer
          minimum: 1
        total_count:
          type: integer
          minimum: 0
        total_pages:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          type: string
        message:
          type: string
          nullable: true
        details:
          oneOf:
          - type: array
            items:
              type: string
          - type: object
          nullable: true
    ToolCall:
      type: object
      required:
      - id
      - function_name
      - function_arguments
      - created_at
      properties:
        id:
          type: string
          format: uuid
        function_name:
          type: string
        function_arguments:
          type: object
          additionalProperties: true
        function_result:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          type: string
          format: date-time
    Message:
      type: object
      required:
      - id
      - type
      - role
      - content
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - user_message
          - assistant_message
        role:
          type: string
          enum:
          - user
          - assistant
        content:
          type: string
        model:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tool_calls:
          type: array
          items:
            "$ref": "#/components/schemas/ToolCall"
          nullable: true
    MessageResponse:
      allOf:
      - "$ref": "#/components/schemas/Message"
      - type: object
        required:
        - chat_id
        properties:
          chat_id:
            type: string
            format: uuid
          ai_response_status:
            type: string
            enum:
            - pending
            - complete
            - failed
            nullable: true
          ai_response_message:
            type: string
            nullable: true
    ChatResource:
      type: object
      required:
      - id
      - title
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        error:
          type: string
          nullable: true
          description: |
            User-friendly error message describing the most recent failure of the
            assistant for this chat, or `null` when no error is present. Errors
            are classified into a small set of presentable messages so clients
            can display them directly without exposing raw provider details:
              * Rate limited — "The AI provider is rate limited right now. Please try again in a few minutes."
              * Temporarily unavailable — "The AI provider is temporarily unavailable right now. Please try again in a few minutes."
              * Misconfigured — "The AI provider is not configured correctly. Please contact your administrator."
              * Default fallback — "Failed to generate a response. Please try again."
            Successful chats always return `null` for this field.
          example: The AI provider is rate limited right now. Please try again in a few minutes.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ChatSummary:
      allOf:
      - "$ref": "#/components/schemas/ChatResource"
      - type: object
        required:
        - message_count
        properties:
          message_count:
            type: integer
            minimum: 0
          last_message_at:
            type: string
            format: date-time
            nullable: true
    ChatDetail:
      allOf:
      - "$ref": "#/components/schemas/ChatResource"
      - type: object
        required:
        - messages
        properties:
          messages:
            type: array
            items:
              "$ref": "#/components/schemas/Message"
          pagination:
            "$ref": "#/components/schemas/Pagination"
            nullable: true
    ChatCollection:
      type: object
      required:
      - chats
      - pagination
      properties:
        chats:
          type: array
          items:
            "$ref": "#/components/schemas/ChatSummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    RetryResponse:
      type: object
      required:
      - message
      - message_id
      properties:
        message:
          type: string
        message_id:
          type: string
          format: uuid
    Account:
      type: object
      required:
      - id
      - name
      - account_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        account_type:
          type: string
    AccountDetail:
      type: object
      required:
      - id
      - name
      - balance
      - currency
      - classification
      - account_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        balance:
          type: string
        currency:
          type: string
        classification:
          type: string
        account_type:
          type: string
    AccountCollection:
      type: object
      required:
      - accounts
      - pagination
      properties:
        accounts:
          type: array
          items:
            "$ref": "#/components/schemas/AccountDetail"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    BudgetSummary:
      type: object
      required:
      - id
      - start_date
      - end_date
      - name
      - currency
      - initialized
      - current
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        name:
          type: string
        currency:
          type: string
        initialized:
          type: boolean
        current:
          type: boolean
        budgeted_spending:
          type: string
          nullable: true
        budgeted_spending_cents:
          type: integer
          nullable: true
        expected_income:
          type: string
          nullable: true
        expected_income_cents:
          type: integer
          nullable: true
        allocated_spending:
          type: string
        allocated_spending_cents:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Budget:
      type: object
      required:
      - id
      - start_date
      - end_date
      - name
      - currency
      - initialized
      - current
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
        name:
          type: string
        currency:
          type: string
        initialized:
          type: boolean
        current:
          type: boolean
        budgeted_spending:
          type: string
          nullable: true
        budgeted_spending_cents:
          type: integer
          nullable: true
        expected_income:
          type: string
          nullable: true
        expected_income_cents:
          type: integer
          nullable: true
        allocated_spending:
          type: string
        allocated_spending_cents:
          type: integer
        actual_spending:
          type: string
        actual_spending_cents:
          type: integer
        actual_income:
          type: string
        actual_income_cents:
          type: integer
        available_to_spend:
          type: string
        available_to_spend_cents:
          type: integer
        available_to_allocate:
          type: string
        available_to_allocate_cents:
          type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCollection:
      type: object
      required:
      - budgets
      - pagination
      properties:
        budgets:
          type: array
          items:
            "$ref": "#/components/schemas/BudgetSummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    BudgetCategorySummary:
      type: object
      required:
      - id
      - budget_id
      - currency
      - subcategory
      - inherits_parent_budget
      - category
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        budget_id:
          type: string
          format: uuid
        currency:
          type: string
        subcategory:
          type: boolean
        inherits_parent_budget:
          type: boolean
        budgeted_spending:
          type: string
        budgeted_spending_cents:
          type: integer
        display_budgeted_spending:
          type: string
        display_budgeted_spending_cents:
          type: integer
        category:
          type: object
          required:
          - id
          - name
          - color
          - lucide_icon
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            color:
              type: string
            lucide_icon:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCategory:
      type: object
      required:
      - id
      - budget_id
      - currency
      - subcategory
      - inherits_parent_budget
      - category
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        budget_id:
          type: string
          format: uuid
        currency:
          type: string
        subcategory:
          type: boolean
        inherits_parent_budget:
          type: boolean
        budgeted_spending:
          type: string
        budgeted_spending_cents:
          type: integer
        display_budgeted_spending:
          type: string
        display_budgeted_spending_cents:
          type: integer
        actual_spending:
          type: string
        actual_spending_cents:
          type: integer
        available_to_spend:
          type: string
        available_to_spend_cents:
          type: integer
        category:
          type: object
          required:
          - id
          - name
          - color
          - lucide_icon
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            color:
              type: string
            lucide_icon:
              type: string
            parent_id:
              type: string
              format: uuid
              nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    BudgetCategoryCollection:
      type: object
      required:
      - budget_categories
      - pagination
      properties:
        budget_categories:
          type: array
          items:
            "$ref": "#/components/schemas/BudgetCategorySummary"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Category:
      type: object
      required:
      - id
      - name
      - classification
      - color
      - icon
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        classification:
          type: string
        color:
          type: string
        icon:
          type: string
    CategoryParent:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    CategoryDetail:
      type: object
      required:
      - id
      - name
      - classification
      - color
      - icon
      - subcategories_count
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        classification:
          type: string
          enum:
          - income
          - expense
        color:
          type: string
        icon:
          type: string
        parent:
          "$ref": "#/components/schemas/CategoryParent"
          nullable: true
        subcategories_count:
          type: integer
          minimum: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CategoryCollection:
      type: object
      required:
      - categories
      - pagination
      properties:
        categories:
          type: array
          items:
            "$ref": "#/components/schemas/CategoryDetail"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    CategoryCreateRequest:
      type: object
      required:
      - category
      properties:
        category:
          type: object
          required:
          - name
          properties:
            name:
              type: string
              description: Category name (required, unique within family)
            color:
              type: string
              description: 'Hex color code (e.g. #22c55e). Defaults to #6172F3 if
                omitted; subcategories inherit parent color.'
            icon:
              type: string
              description: Lucide icon name (e.g. "coffee"). Auto-suggested from the
                name when omitted.
            parent_id:
              type: string
              format: uuid
              nullable: true
              description: Parent category ID. Must belong to the same family. Categories
                support up to 2 levels of nesting.
    Merchant:
      type: object
      required:
      - id
      - name
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
    Tag:
      type: object
      required:
      - id
      - name
      - color
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
    TagDetail:
      type: object
      required:
      - id
      - name
      - color
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        color:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TagCollection:
      type: array
      items:
        "$ref": "#/components/schemas/TagDetail"
    Transfer:
      type: object
      required:
      - id
      - amount
      - currency
      properties:
        id:
          type: string
          format: uuid
        amount:
          type: string
        currency:
          type: string
        other_account:
          "$ref": "#/components/schemas/Account"
          nullable: true
    Transaction:
      type: object
      required:
      - id
      - date
      - amount
      - amount_cents
      - signed_amount_cents
      - currency
      - name
      - classification
      - account
      - tags
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        amount:
          type: string
          description: Localized, formatted amount string (e.g. "$50.00")
        amount_cents:
          type: integer
          minimum: 0
          description: Absolute amount in minor currency units (e.g. 5000 for $50.00
            USD). Uses the currency's minor-unit conversion factor.
        signed_amount_cents:
          type: integer
          description: Signed amount in minor currency units. Positive for income,
            negative for expenses.
        currency:
          type: string
        name:
          type: string
        notes:
          type: string
          nullable: true
        classification:
          type: string
          enum:
          - income
          - expense
        account:
          "$ref": "#/components/schemas/Account"
        category:
          "$ref": "#/components/schemas/Category"
          nullable: true
        merchant:
          "$ref": "#/components/schemas/Merchant"
          nullable: true
        tags:
          type: array
          items:
            "$ref": "#/components/schemas/Tag"
        transfer:
          "$ref": "#/components/schemas/Transfer"
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TransactionCollection:
      type: object
      required:
      - transactions
      - pagination
      properties:
        transactions:
          type: array
          items:
            "$ref": "#/components/schemas/Transaction"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    DeleteResponse:
      type: object
      required:
      - message
      properties:
        message:
          type: string
    ImportConfiguration:
      type: object
      properties:
        date_col_label:
          type: string
          nullable: true
        amount_col_label:
          type: string
          nullable: true
        name_col_label:
          type: string
          nullable: true
        category_col_label:
          type: string
          nullable: true
        tags_col_label:
          type: string
          nullable: true
        notes_col_label:
          type: string
          nullable: true
        account_col_label:
          type: string
          nullable: true
        qty_col_label:
          type: string
          nullable: true
        ticker_col_label:
          type: string
          nullable: true
        price_col_label:
          type: string
          nullable: true
        entity_type_col_label:
          type: string
          nullable: true
        currency_col_label:
          type: string
          nullable: true
        exchange_operating_mic_col_label:
          type: string
          nullable: true
        date_format:
          type: string
          nullable: true
        number_format:
          type: string
          nullable: true
        signage_convention:
          type: string
          nullable: true
        col_sep:
          type: string
          nullable: true
        amount_type_strategy:
          type: string
          nullable: true
        amount_type_inflow_value:
          type: string
          nullable: true
    ImportStats:
      type: object
      properties:
        rows_count:
          type: integer
          minimum: 0
        valid_rows_count:
          type: integer
          minimum: 0
          nullable: true
    ImportSummary:
      type: object
      required:
      - id
      - type
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - TransactionImport
          - TradeImport
          - AccountImport
          - MintImport
          - CategoryImport
          - RuleImport
          - PdfImport
          - QifImport
          - SureImport
        status:
          type: string
          enum:
          - pending
          - complete
          - importing
          - reverting
          - revert_failed
          - failed
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        account_id:
          type: string
          format: uuid
          nullable: true
        rows_count:
          type: integer
          minimum: 0
        error:
          type: string
          nullable: true
    ImportDetail:
      type: object
      required:
      - id
      - type
      - status
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum:
          - TransactionImport
          - TradeImport
          - AccountImport
          - MintImport
          - CategoryImport
          - RuleImport
          - PdfImport
          - QifImport
          - SureImport
        status:
          type: string
          enum:
          - pending
          - complete
          - importing
          - reverting
          - revert_failed
          - failed
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        account_id:
          type: string
          format: uuid
          nullable: true
        error:
          type: string
          nullable: true
        configuration:
          "$ref": "#/components/schemas/ImportConfiguration"
        stats:
          "$ref": "#/components/schemas/ImportStats"
    ImportCollection:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ImportSummary"
        meta:
          type: object
          required:
          - current_page
          - total_pages
          - total_count
          - per_page
          properties:
            current_page:
              type: integer
              minimum: 1
            next_page:
              type: integer
              nullable: true
            prev_page:
              type: integer
              nullable: true
            total_pages:
              type: integer
              minimum: 0
            total_count:
              type: integer
              minimum: 0
            per_page:
              type: integer
              minimum: 1
    ImportResponse:
      type: object
      required:
      - data
      properties:
        data:
          "$ref": "#/components/schemas/ImportDetail"
    Security:
      type: object
      required:
      - id
      - ticker
      - name
      properties:
        id:
          type: string
          format: uuid
        ticker:
          type: string
        name:
          type: string
          nullable: true
    Trade:
      type: object
      required:
      - id
      - date
      - amount
      - currency
      - name
      - qty
      - price
      - account
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        amount:
          type: string
          description: Formatted monetary amount (e.g. "$1,234.56")
        currency:
          type: string
        name:
          type: string
        notes:
          type: string
          nullable: true
        qty:
          type: number
          description: Quantity of shares or units traded. Negative for sells.
        price:
          type: string
          description: Formatted price per unit
        investment_activity_label:
          type: string
          nullable: true
          description: Activity label such as Buy, Sell, Dividend, etc.
        account:
          "$ref": "#/components/schemas/Account"
        security:
          "$ref": "#/components/schemas/Security"
          nullable: true
        category:
          type: object
          nullable: true
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    TradeCollection:
      type: object
      required:
      - trades
      - pagination
      properties:
        trades:
          type: array
          items:
            "$ref": "#/components/schemas/Trade"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Holding:
      type: object
      required:
      - id
      - date
      - qty
      - price
      - amount
      - currency
      - account
      - security
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        date:
          type: string
          format: date
        qty:
          type: number
          description: Number of shares or units held
        price:
          type: string
          description: Formatted price per unit
        amount:
          type: string
          description: Formatted total value
        currency:
          type: string
        cost_basis_source:
          type: string
          nullable: true
          description: Source of cost basis calculation
        account:
          "$ref": "#/components/schemas/Account"
        security:
          "$ref": "#/components/schemas/Security"
        avg_cost:
          type: string
          nullable: true
          description: Formatted average cost basis per unit, if available
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    HoldingCollection:
      type: object
      required:
      - holdings
      - pagination
      properties:
        holdings:
          type: array
          items:
            "$ref": "#/components/schemas/Holding"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Valuation:
      type: object
      required:
      - id
      - date
      - amount
      - currency
      - kind
      - account
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
          description: The entry ID for this valuation
        date:
          type: string
          format: date
        amount:
          type: string
          description: Formatted balance amount
        currency:
          type: string
        notes:
          type: string
          nullable: true
        kind:
          type: string
          description: The type of valuation (e.g. reconciliation)
        account:
          "$ref": "#/components/schemas/Account"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MerchantDetail:
      type: object
      required:
      - id
      - name
      - type
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
          enum:
          - FamilyMerchant
          - ProviderMerchant
          description: Whether the merchant was created by the user or a provider
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    MerchantCollection:
      type: array
      items:
        "$ref": "#/components/schemas/MerchantDetail"
    BalanceSheetResponse:
      type: object
      required:
      - currency
      - net_worth
      - assets
      - liabilities
      properties:
        currency:
          type: string
          description: The family's primary currency code
        net_worth:
          type: object
          description: Net worth as a Money object
        assets:
          type: object
          description: Total assets as a Money object
        liabilities:
          type: object
          description: Total liabilities as a Money object
    SyncJobResponse:
      type: object
      required:
      - id
      - status
      - syncable_type
      - syncable_id
      - message
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          description: Current sync status
        syncable_type:
          type: string
        syncable_id:
          type: string
          format: uuid
        syncing_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        window_start_date:
          type: string
          format: date
          nullable: true
        window_end_date:
          type: string
          format: date
          nullable: true
        message:
          type: string
    SyncableSummary:
      type: object
      required:
      - type
      - id
      properties:
        type:
          type: string
          description: The type of resource the sync targets (for example `Family`, `Account`, or `PlaidItem`).
        id:
          type: string
          format: uuid
        name:
          type: string
          nullable: true
          description: Display name of the syncable resource, when available.
    SyncErrorSummary:
      type: object
      required:
      - message
      properties:
        message:
          type: string
          description: Sanitized human-readable error message for a failed sync.
    SyncResource:
      type: object
      description: Sanitized status metadata for a single sync run.
      required:
      - id
      - status
      - in_progress
      - terminal
      - syncable
      - children_count
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          description: Current lifecycle status of the sync.
          enum:
          - pending
          - syncing
          - completed
          - failed
          - stale
        in_progress:
          type: boolean
          description: True when the sync is queued or actively running.
        terminal:
          type: boolean
          description: True when the sync has reached a terminal state (`completed`, `failed`, or `stale`).
        syncable:
          "$ref": "#/components/schemas/SyncableSummary"
        parent_id:
          type: string
          format: uuid
          nullable: true
          description: Identifier of the parent sync, when this sync was triggered as part of a larger run.
        children_count:
          type: integer
          minimum: 0
          description: Number of child syncs spawned by this sync.
        window_start_date:
          type: string
          format: date
          nullable: true
          description: Start of the date window the sync covers, when applicable.
        window_end_date:
          type: string
          format: date
          nullable: true
          description: End of the date window the sync covers, when applicable.
        pending_at:
          type: string
          format: date-time
          nullable: true
          description: When the sync entered the `pending` state.
        syncing_at:
          type: string
          format: date-time
          nullable: true
          description: When the sync started running.
        completed_at:
          type: string
          format: date-time
          nullable: true
          description: When the sync finished successfully.
        failed_at:
          type: string
          format: date-time
          nullable: true
          description: When the sync transitioned to the `failed` state.
        error:
          nullable: true
          description: Sanitized error details, present only when the sync has failed.
          allOf:
          - "$ref": "#/components/schemas/SyncErrorSummary"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    SyncResponse:
      type: object
      required:
      - data
      properties:
        data:
          nullable: true
          description: The sync resource, or `null` when no sync exists (for example, the latest sync endpoint when the family has never synced).
          allOf:
          - "$ref": "#/components/schemas/SyncResource"
    SyncCollection:
      type: object
      required:
      - data
      - meta
      properties:
        data:
          type: array
          maxItems: 100
          items:
            "$ref": "#/components/schemas/SyncResource"
        meta:
          "$ref": "#/components/schemas/Pagination"
    UsageResponse:
      type: object
      properties:
        api_key:
          type: object
          properties:
            name:
              type: string
            scopes:
              type: array
              items:
                type: string
            last_used_at:
              type: string
              format: date-time
              nullable: true
            created_at:
              type: string
              format: date-time
        rate_limit:
          type: object
          properties:
            tier:
              type: string
            limit:
              type: integer
            current_count:
              type: integer
            remaining:
              type: integer
            reset_in_seconds:
              type: integer
            reset_at:
              type: string
              format: date-time
    ProviderConnectionInstitution:
      type: object
      required:
      - name
      properties:
        name:
          type: string
          nullable: true
        domain:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
    ProviderConnectionAccounts:
      type: object
      required:
      - total_count
      - linked_count
      - unlinked_count
      properties:
        total_count:
          type: integer
          minimum: 0
        linked_count:
          type: integer
          minimum: 0
        unlinked_count:
          type: integer
          minimum: 0
    ProviderConnectionSyncLatest:
      type: object
      required:
      - id
      - status
      - created_at
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
        created_at:
          type: string
          format: date-time
        syncing_at:
          type: string
          format: date-time
          nullable: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        failed_at:
          type: string
          format: date-time
          nullable: true
        error:
          type: object
          nullable: true
          description: Sanitized latest sync error summary. Null when the latest sync
            is not failed or stale.
          required:
          - present
          properties:
            present:
              type: boolean
              description: Always true when this object is present.
            message:
              type: string
              nullable: true
              description: Stable sanitized error category message; raw provider error
                text is never exposed.
    ProviderConnectionSync:
      type: object
      required:
      - syncing
      properties:
        syncing:
          type: boolean
        status_summary:
          type: string
          nullable: true
        last_synced_at:
          type: string
          format: date-time
          nullable: true
        latest:
          allOf:
          - "$ref": "#/components/schemas/ProviderConnectionSyncLatest"
          nullable: true
    ProviderConnection:
      type: object
      required:
      - id
      - provider
      - provider_type
      - name
      - status
      - requires_update
      - credentials_configured
      - scheduled_for_deletion
      - pending_account_setup
      - institution
      - accounts
      - sync
      - created_at
      - updated_at
      properties:
        id:
          type: string
          format: uuid
        provider:
          type: string
        provider_type:
          type: string
        name:
          type: string
        status:
          type: string
          nullable: true
        requires_update:
          type: boolean
          nullable: true
          description: False when the provider item does not expose this status.
        credentials_configured:
          type: boolean
          nullable: true
          description: False when credential readiness is unknown.
        scheduled_for_deletion:
          type: boolean
          nullable: true
          description: False when the provider item does not expose this status.
        pending_account_setup:
          type: boolean
          nullable: true
          description: False when account setup state is unknown.
        institution:
          "$ref": "#/components/schemas/ProviderConnectionInstitution"
        accounts:
          "$ref": "#/components/schemas/ProviderConnectionAccounts"
        sync:
          "$ref": "#/components/schemas/ProviderConnectionSync"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ProviderConnectionCollection:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/ProviderConnection"
paths:
  "/api/v1/accounts":
    get:
      summary: List accounts
      tags:
      - Accounts
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      responses:
        '200':
          description: accounts paginated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountCollection"
  "/api/v1/budget_categories":
    get:
      summary: List budget categories
      tags:
      - Budget Categories
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: budget_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by budget ID
      - name: category_id
        in: query
        required: false
        schema:
          type: string
          format: uuid
        description: Filter by category ID
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter budget categories whose budget starts on or after this
          date
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter budget categories whose budget ends on or before this
          date
      responses:
        '200':
          description: budget categories listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BudgetCategoryCollection"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: insufficient scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: invalid filter
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/budget_categories/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Budget category ID
      schema:
        type: string
        format: uuid
    get:
      summary: Retrieve a budget category
      tags:
      - Budget Categories
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: budget category retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BudgetCategory"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: insufficient scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: budget category not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/budgets":
    get:
      summary: List budgets
      tags:
      - Budgets
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter budgets starting on or after this date
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: Filter budgets ending on or before this date
      responses:
        '200':
          description: budgets listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BudgetCollection"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: insufficient scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: invalid date filter
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/budgets/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Budget ID
      schema:
        type: string
        format: uuid
    get:
      summary: Retrieve a budget
      tags:
      - Budgets
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: budget retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Budget"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: insufficient scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: budget not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/categories":
    get:
      summary: List categories
      tags:
      - Categories
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: classification
        in: query
        required: false
        description: Filter by classification (income or expense)
        schema:
          type: string
          enum:
          - income
          - expense
      - name: roots_only
        in: query
        required: false
        description: Return only root categories (no parent)
        schema:
          type: boolean
      - name: parent_id
        in: query
        required: false
        description: Filter by parent category ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: categories filtered by parent
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CategoryCollection"
    post:
      summary: Create category
      tags:
      - Categories
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: subcategory created with parent
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CategoryDetail"
        '422':
          description: validation error - duplicate name
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: forbidden - api key missing read_write scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '400':
          description: bad request - missing category payload
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '401':
          description: unauthorized - missing api key
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CategoryCreateRequest"
        required: true
  "/api/v1/categories/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Category ID
      schema:
        type: string
    get:
      summary: Retrieve a category
      tags:
      - Categories
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: subcategory retrieved with parent
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/CategoryDetail"
        '404':
          description: category not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/chats":
    get:
      summary: List chats
      tags:
      - Chats
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: chats listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ChatCollection"
        '403':
          description: AI features disabled
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    post:
      summary: Create chat
      tags:
      - Chats
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: chat created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ChatDetail"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Monthly budget review
                message:
                  type: string
                  description: Optional initial message in the chat
                model:
                  type: string
                  description: Optional OpenAI model identifier
              required:
              - title
        required: true
  "/api/v1/chats/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Chat ID
      schema:
        type: string
    get:
      summary: Retrieve a chat
      tags:
      - Chats
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: chat retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ChatDetail"
        '404':
          description: chat not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a chat
      tags:
      - Chats
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: chat updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ChatDetail"
        '404':
          description: chat not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Updated chat title
        required: true
    delete:
      summary: Delete a chat
      tags:
      - Chats
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: chat deleted
        '404':
          description: chat not found
  "/api/v1/chats/{chat_id}/messages":
    parameters:
    - name: chat_id
      in: path
      required: true
      description: Chat ID
      schema:
        type: string
    post:
      summary: Create a message
      tags:
      - Chat Messages
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: message created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MessageResponse"
        '404':
          description: chat not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                model:
                  type: string
              required:
              - content
        required: true
  "/api/v1/chats/{chat_id}/messages/retry":
    parameters:
    - name: chat_id
      in: path
      required: true
      description: Chat ID
      schema:
        type: string
    post:
      summary: Retry the last assistant response
      tags:
      - Chat Messages
      security:
      - apiKeyAuth: []
      responses:
        '202':
          description: retry started
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RetryResponse"
        '404':
          description: chat not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: no assistant message available
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/imports":
    get:
      summary: List imports
      description: List all imports for the user's family with pagination and filtering.
      tags:
      - Imports
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: status
        in: query
        required: false
        description: Filter by status
        schema:
          type: string
          enum:
          - pending
          - complete
          - importing
          - reverting
          - revert_failed
          - failed
      - name: type
        in: query
        required: false
        description: Filter by import type
        schema:
          type: string
          enum:
          - TransactionImport
          - TradeImport
          - AccountImport
          - MintImport
          - CategoryImport
          - RuleImport
          - PdfImport
          - QifImport
          - SureImport
      responses:
        '200':
          description: imports filtered by type
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ImportCollection"
    post:
      summary: Create import
      description: Create a new import from raw CSV content.
      tags:
      - Imports
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: import created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ImportResponse"
        '422':
          description: validation error - file too large
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                raw_file_content:
                  type: string
                  description: The raw CSV content as a string
                type:
                  type: string
                  enum:
                  - TransactionImport
                  - TradeImport
                  - AccountImport
                  - MintImport
                  - CategoryImport
                  - RuleImport
                  - PdfImport
                  - QifImport
                  - SureImport
                  description: Import type (defaults to TransactionImport)
                account_id:
                  type: string
                  format: uuid
                  description: Account ID to import into
                publish:
                  type: string
                  description: Set to "true" to automatically queue for processing
                    if configuration is valid
                date_col_label:
                  type: string
                  description: Header name for the date column
                amount_col_label:
                  type: string
                  description: Header name for the amount column
                name_col_label:
                  type: string
                  description: Header name for the transaction name column
                category_col_label:
                  type: string
                  description: Header name for the category column
                tags_col_label:
                  type: string
                  description: Header name for the tags column
                notes_col_label:
                  type: string
                  description: Header name for the notes column
                account_col_label:
                  type: string
                  description: Header name for the account column
                qty_col_label:
                  type: string
                  description: Header name for the quantity column (trade imports)
                ticker_col_label:
                  type: string
                  description: Header name for the ticker column (trade imports)
                price_col_label:
                  type: string
                  description: Header name for the price column (trade imports)
                entity_type_col_label:
                  type: string
                  description: Header name for the entity type column (account imports)
                currency_col_label:
                  type: string
                  description: Header name for the currency column
                exchange_operating_mic_col_label:
                  type: string
                  description: Header name for the exchange MIC column (trade imports)
                date_format:
                  type: string
                  description: Date format pattern (e.g., "%m/%d/%Y")
                number_format:
                  type: string
                  enum:
                  - '1,234.56'
                  - 1.234,56
                  - 1 234,56
                  - '1,234'
                  description: Number format for parsing amounts
                signage_convention:
                  type: string
                  enum:
                  - inflows_positive
                  - inflows_negative
                  description: How to interpret positive/negative amounts
                col_sep:
                  type: string
                  enum:
                  - ","
                  - ";"
                  description: Column separator
                amount_type_strategy:
                  type: string
                  description: Strategy for determining transaction direction
                amount_type_inflow_value:
                  type: string
                  description: Value that indicates an inflow when using column-based
                    amount type strategy
        required: true
  "/api/v1/imports/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Import ID
      schema:
        type: string
    get:
      summary: Retrieve an import
      description: Retrieve detailed information about a specific import, including
        configuration and row statistics.
      tags:
      - Imports
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: import retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ImportResponse"
        '404':
          description: import not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/tags":
    get:
      summary: List tags
      tags:
      - Tags
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: tags listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TagCollection"
    post:
      summary: Create tag
      tags:
      - Tags
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: tag created with auto-assigned color
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TagDetail"
        '422':
          description: validation error - missing name
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Tag name (required)
                    color:
                      type: string
                      description: Hex color code (optional, auto-assigned if not
                        provided)
                  required:
                  - name
              required:
              - tag
        required: true
  "/api/v1/tags/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Tag ID
      schema:
        type: string
    get:
      summary: Retrieve a tag
      tags:
      - Tags
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: tag retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TagDetail"
        '404':
          description: tag not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a tag
      tags:
      - Tags
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: tag updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TagDetail"
        '404':
          description: tag not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tag:
                  type: object
                  properties:
                    name:
                      type: string
                    color:
                      type: string
        required: true
    delete:
      summary: Delete a tag
      tags:
      - Tags
      security:
      - apiKeyAuth: []
      responses:
        '204':
          description: tag deleted
        '404':
          description: tag not found
  "/api/v1/transactions":
    get:
      summary: List transactions
      tags:
      - Transactions
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: account_id
        in: query
        required: false
        description: Filter by account ID
        schema:
          type: string
      - name: category_id
        in: query
        required: false
        description: Filter by category ID
        schema:
          type: string
      - name: merchant_id
        in: query
        required: false
        description: Filter by merchant ID
        schema:
          type: string
      - name: start_date
        in: query
        required: false
        description: Filter transactions from this date
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: Filter transactions until this date
        schema:
          type: string
          format: date
      - name: min_amount
        in: query
        required: false
        description: Filter by minimum amount
        schema:
          type: number
      - name: max_amount
        in: query
        required: false
        description: Filter by maximum amount
        schema:
          type: number
      - name: type
        in: query
        required: false
        description: Filter by transaction type
        schema:
          type: string
          enum:
          - income
          - expense
      - name: search
        in: query
        required: false
        description: Search by name, notes, or merchant name
        schema:
          type: string
      - name: account_ids
        in: query
        required: false
        description: Filter by multiple account IDs
        schema:
          type: array
          items:
            type: string
      - name: category_ids
        in: query
        required: false
        description: Filter by multiple category IDs
        schema:
          type: array
          items:
            type: string
      - name: merchant_ids
        in: query
        required: false
        description: Filter by multiple merchant IDs
        schema:
          type: array
          items:
            type: string
      - name: tag_ids
        in: query
        required: false
        description: Filter by tag IDs
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: transactions filtered by date range
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TransactionCollection"
    post:
      summary: Create transaction
      tags:
      - Transactions
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: transaction created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Transaction"
        '422':
          description: validation error - missing required fields
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: object
                  properties:
                    account_id:
                      type: string
                      format: uuid
                      description: Account ID (required)
                    date:
                      type: string
                      format: date
                      description: Transaction date
                    amount:
                      type: number
                      description: Transaction amount
                    name:
                      type: string
                      description: Transaction name/description
                    description:
                      type: string
                      description: Alternative to name field
                    notes:
                      type: string
                      description: Additional notes
                    currency:
                      type: string
                      description: Currency code (defaults to family currency)
                    category_id:
                      type: string
                      format: uuid
                      description: Category ID
                    merchant_id:
                      type: string
                      format: uuid
                      description: Merchant ID
                    nature:
                      type: string
                      enum:
                      - income
                      - expense
                      - inflow
                      - outflow
                      description: Transaction nature (determines sign)
                    tag_ids:
                      type: array
                      items:
                        type: string
                        format: uuid
                      description: Array of tag IDs
                  required:
                  - account_id
                  - date
                  - amount
                  - name
              required:
              - transaction
        required: true
  "/api/v1/transactions/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Transaction ID
      schema:
        type: string
    get:
      summary: Retrieve a transaction
      tags:
      - Transactions
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: transaction retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Transaction"
        '404':
          description: transaction not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a transaction
      tags:
      - Transactions
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: transaction updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Transaction"
        '404':
          description: transaction not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  type: object
                  properties:
                    date:
                      type: string
                      format: date
                    amount:
                      type: number
                    name:
                      type: string
                    description:
                      type: string
                      description: Alternative to name field
                    notes:
                      type: string
                    currency:
                      type: string
                      description: Currency code
                    category_id:
                      type: string
                      format: uuid
                    merchant_id:
                      type: string
                      format: uuid
                    nature:
                      type: string
                      enum:
                      - income
                      - expense
                      - inflow
                      - outflow
                    tag_ids:
                      type: array
                      items:
                        type: string
                        format: uuid
        required: true
    delete:
      summary: Delete a transaction
      tags:
      - Transactions
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: transaction deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteResponse"
        '404':
          description: transaction not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/trades":
    get:
      summary: List trades
      tags:
      - Trades
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: account_id
        in: query
        required: false
        description: Filter by account ID
        schema:
          type: string
          format: uuid
      - name: account_ids
        in: query
        required: false
        description: Filter by multiple account IDs
        schema:
          type: array
          items:
            type: string
      - name: start_date
        in: query
        required: false
        description: Filter trades from this date
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: Filter trades until this date
        schema:
          type: string
          format: date
      responses:
        '200':
          description: trades listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TradeCollection"
    post:
      summary: Create trade
      tags:
      - Trades
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: trade created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Trade"
        '404':
          description: account or security not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trade:
                  type: object
                  properties:
                    account_id:
                      type: string
                      format: uuid
                      description: Account ID (must be an investment or crypto account)
                    type:
                      type: string
                      enum:
                      - buy
                      - sell
                      description: Trade type
                    date:
                      type: string
                      format: date
                      description: Trade date
                    qty:
                      type: number
                      description: Quantity (must be positive)
                    price:
                      type: number
                      description: Price per unit (must be positive)
                    currency:
                      type: string
                      description: Currency code (defaults to account currency)
                    security_id:
                      type: string
                      format: uuid
                      description: Security ID (provide one of security_id, ticker, or manual_ticker)
                    ticker:
                      type: string
                      description: Security ticker symbol
                    manual_ticker:
                      type: string
                      description: Manual ticker for unlisted securities
                    investment_activity_label:
                      type: string
                      description: Activity label (e.g. Buy, Sell, Dividend)
                    category_id:
                      type: string
                      format: uuid
                      description: Category ID
                  required:
                  - account_id
                  - type
                  - date
                  - qty
                  - price
              required:
              - trade
        required: true
  "/api/v1/trades/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Trade ID
      schema:
        type: string
    get:
      summary: Retrieve a trade
      tags:
      - Trades
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: trade retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Trade"
        '404':
          description: trade not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a trade
      tags:
      - Trades
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: trade updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Trade"
        '404':
          description: trade not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trade:
                  type: object
                  properties:
                    name:
                      type: string
                    date:
                      type: string
                      format: date
                    amount:
                      type: number
                    currency:
                      type: string
                    notes:
                      type: string
                    nature:
                      type: string
                      enum:
                      - buy
                      - sell
                      - inflow
                      - outflow
                      description: Trade direction (sell/inflow vs buy/outflow)
                    qty:
                      type: number
                      description: Quantity of shares or units
                    price:
                      type: number
                      description: Price per unit
                    investment_activity_label:
                      type: string
                    category_id:
                      type: string
                      format: uuid
        required: true
    delete:
      summary: Delete a trade
      tags:
      - Trades
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: trade deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteResponse"
        '404':
          description: trade not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/holdings":
    get:
      summary: List holdings
      tags:
      - Holdings
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      - name: account_id
        in: query
        required: false
        description: Filter by account ID
        schema:
          type: string
          format: uuid
      - name: account_ids
        in: query
        required: false
        description: Filter by multiple account IDs
        schema:
          type: array
          items:
            type: string
      - name: date
        in: query
        required: false
        description: Filter by exact date
        schema:
          type: string
          format: date
      - name: start_date
        in: query
        required: false
        description: Filter holdings from this date
        schema:
          type: string
          format: date
      - name: end_date
        in: query
        required: false
        description: Filter holdings until this date
        schema:
          type: string
          format: date
      - name: security_id
        in: query
        required: false
        description: Filter by security ID
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: holdings listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HoldingCollection"
  "/api/v1/holdings/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Holding ID
      schema:
        type: string
    get:
      summary: Retrieve a holding
      tags:
      - Holdings
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: holding retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Holding"
        '404':
          description: holding not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/valuations":
    post:
      summary: Create valuation
      description: Create a new balance reconciliation for an account.
      tags:
      - Valuations
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '201':
          description: valuation created
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Valuation"
        '404':
          description: account not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                valuation:
                  type: object
                  properties:
                    account_id:
                      type: string
                      format: uuid
                      description: Account ID (required)
                    amount:
                      type: number
                      description: Balance amount (required)
                    date:
                      type: string
                      format: date
                      description: Valuation date (required)
                    notes:
                      type: string
                      description: Optional notes
                  required:
                  - account_id
                  - amount
                  - date
              required:
              - valuation
        required: true
  "/api/v1/valuations/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Valuation entry ID
      schema:
        type: string
    get:
      summary: Retrieve a valuation
      tags:
      - Valuations
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: valuation retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Valuation"
        '404':
          description: valuation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
    patch:
      summary: Update a valuation
      description: Update balance and/or notes. When updating the balance, both amount and date must be provided together.
      tags:
      - Valuations
      security:
      - apiKeyAuth: []
      parameters: []
      responses:
        '200':
          description: valuation updated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Valuation"
        '404':
          description: valuation not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '422':
          description: validation error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                valuation:
                  type: object
                  properties:
                    amount:
                      type: number
                      description: Balance amount (required with date)
                    date:
                      type: string
                      format: date
                      description: Valuation date (required with amount)
                    notes:
                      type: string
              required:
              - valuation
        required: true
  "/api/v1/merchants":
    get:
      summary: List merchants
      description: Returns all family-owned and provider merchants associated with the user's transactions.
      tags:
      - Merchants
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: merchants listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantCollection"
  "/api/v1/merchants/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: Merchant ID
      schema:
        type: string
    get:
      summary: Retrieve a merchant
      tags:
      - Merchants
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: merchant retrieved
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/MerchantDetail"
        '404':
          description: merchant not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/provider_connections":
    get:
      summary: Lists provider connection status summaries
      description: List safe provider connection status metadata for the authenticated
        user's family without exposing credentials, raw provider payloads, or raw
        sync errors.
      tags:
      - Provider Connections
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: provider connection status summaries listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ProviderConnectionCollection"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: insufficient scope
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/sync":
    post:
      summary: Trigger sync
      description: Queues a full family sync that applies all active rules, syncs all accounts, and auto-matches transfers.
      tags:
      - Sync
      security:
      - apiKeyAuth: []
      responses:
        '202':
          description: sync queued
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SyncJobResponse"
  "/api/v1/syncs":
    get:
      summary: List sync history
      description: Returns sanitized sync status history for the authenticated user's family, including syncs for the family, its accounts, and provider connections. Results are paginated and ordered by creation time (most recent first).
      tags:
      - Sync
      security:
      - apiKeyAuth: []
      parameters:
      - name: page
        in: query
        required: false
        description: 'Page number (default: 1)'
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: 'Items per page (default: 25, max: 100)'
        schema:
          type: integer
      responses:
        '200':
          description: syncs listed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SyncCollection"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/syncs/latest":
    get:
      summary: Get the latest sync
      description: Returns the most recently created sanitized sync status for the authenticated user's family. The `data` field is `null` when the family has no sync history.
      tags:
      - Sync
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: latest sync shown
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SyncResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/syncs/{id}":
    parameters:
    - name: id
      in: path
      required: true
      description: UUID of the sync to retrieve. The sync must belong to the authenticated user's family.
      schema:
        type: string
        format: uuid
    get:
      summary: Get a sync
      description: Returns sanitized status metadata for a single family-scoped sync.
      tags:
      - Sync
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: sync shown
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SyncResponse"
        '401':
          description: unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '403':
          description: forbidden
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
        '404':
          description: not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/usage":
    get:
      summary: Get API usage
      description: Returns API key details and rate limit information. Detailed usage is only available when authenticating with an API key.
      tags:
      - Usage
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: usage information
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UsageResponse"
  "/api/v1/balance_sheet":
    get:
      summary: Get balance sheet
      description: Returns the family's net worth, total assets, and total liabilities in the family's primary currency.
      tags:
      - Balance Sheet
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: balance sheet data
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/BalanceSheetResponse"
  "/api/v1/users/reset":
    delete:
      summary: Reset account data
      description: Initiates an asynchronous reset of all family data. Requires admin role.
      tags:
      - Users
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: reset initiated
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteResponse"
        '403':
          description: forbidden - admin role required
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
  "/api/v1/users/me":
    delete:
      summary: Delete account
      description: Deactivates the current user's account.
      tags:
      - Users
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: account deleted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeleteResponse"
        '422':
          description: deletion failed
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ErrorResponse"
